<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <style>
        h1{
        color:maroon;
        }
        .post{
            background-color: blanchedalmond;
        }
        .user{
            font-style: italic;
        }
    </style>
    <title>Post in detail</title>
</head>
<body>
    <h1>Here is your post in details</h1>
    <%if(post){%>
    <h4>Post id: <%= post.id %></h4>
    <div class="post">
        <h3 class="user">@<%= post.username %></h3>
        <h4><%= post.content %></h4>
    </div>
    <%}%>
    <br><br>

    <a href="/posts">Return to the posts section</a>

</body>
</html>
